<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Results</title>
</head>
<body>
    <h1>Query Results</h1>
    <div id="searchResults"></div>

    <script>
        // Fetch the search query from the URL parameters
        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get('query');

        // Fetch the search results from the server based on the query
        fetch(`http://localhost:5002/api/v1/records/search?query=${query}`)
            .then(response => {
                if(!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then( data => {
                console.log("Data from server: ", data);

                var searchResultsDiv = document.getElementById('searchResults');

                // Clear previous search results
                searchResultsDiv.innerHTML = '';

                // Display the search results
                data.forEach(record => {
                    var recordElement = document.createElement('div');
                    recordElement.innerHTML = `
                        <p>Record ID: ${record.recordId}</p>
                        <p>Name: ${record.name}</p>
                        <p>Capstone Title: ${record.capstoneTitle}</p>
                        <p>Role of Contact: ${record.roleOfContact}</p>
                        <p>No. Of Students: ${record.noOfStudents}</p>
                        <p>Company Name: ${record.companyName}</p>
                        <p>Company Point of Contact: ${record.companyContact}</p>
                        <p>Academic Year: ${record.acadYr}</p>
                        <p class="description">Description: ${record.projDesc}</p>
                        <button class="btn btn-outline-secondary" onclick="return modifyCapstone(${record.recordId})">Modify</button>
                        <button class="btn btn-outline-secondary" onclick="return deleteCapstone(${record.recordId})">Delete</button>
                    `;
                    searchResultsDiv.appendChild(recordElement);
                });
            })
            .catch(error => console.error('Error fetching search results: ', error))
    </script>
</body>
</html>
